{% extends "base.html" %}
{% block title %}Edit Log{% endblock %}

{% block body %} 
    <form method="post">
        <h3 align="center"></h3>
        <div class="form-group">
            <h2>Edit Log {{ tracker.name }}</h2>
            <br>
            <div align="center">
                <label for="date">When: </label>
                <input type="datetime-local" class="form-control" id="date" name="date" value="{{ log.timestamp }}" required />
                
                <label for="value">Value: </label>

                {% if tracker.tracker_type == "Numerical" %}
                    <input type="number" class="form-control" id="value" name="value" placeholder="Enter number: " maxlength="30" value="{{ log.value }}" required />
                {% endif %}

                {% if tracker.tracker_type == "Multiple Choice" %}
                    <select id="value" class="form-control" name="value" required>
                        {% set options = tracker.setting.split(",") %}
                        {% for setting in options %}
                        <option value="{{ setting }}">{{setting}}</option>
                        {% endfor %}
                    </select>    
                {% endif %}

                {% if tracker.tracker_type == "Temperature" %}
                <input type="range" class="form-range" id="value" name="value" placeholder="Enter Temperature: " min="0" max="50" maxlength="30" value="{{ log.value }}"  required />
                {% endif %} 

                <label for="notes">Notes: </label>
                <textarea class="form-control" id="notes" name="notes" placeholder="Enter notes" maxlength="200">{{ log.notes }}</textarea>
                <br>
                <button class="btn btn-dark text-light" type="submit">Update Log</button>
            </div>
        </div>
    </form>
{% endblock %}